/* ---------------------------
        RESET ALL TO 0
--------------------------- */
* {
    margin: 0;
    padding: 0;
}
/* ------------------------------
            GLOBAL CSS
------------------------------ */
html {
    box-sizing: border-box
}
body {
    color: #000;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}
a {
    text-decoration: none;
    font-weight: 700;
}
p {
    text-align: justify;
    margin: 0 0 1rem 0;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%
}
em {
    font-weight: 700;
    font-size: 140%;
    color: #f3d350;
    font-style: normal
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(240,219,79);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* -----------------------------
            HEADER
----------------------------- */
header.site-header {
    /* General CSS */
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    /* Position CSS */
    display: -webkit-flex;
    display: flex;
}
/* Header Logo */
img.header-logo {
    padding: 0 16px;
    width: 40px;
    height: 40px;
}
/* Header Title */
a.header-title-link {
    margin-right: auto;
    font-size: 40px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}
/* Header Social Media */
a.social-media-link {
    padding: 0 6px;
    color: rgb(160,160,159);
}
div.h-social-media a:hover {
    color: rgb(155,218,239);
}
/* MOBILE HEADER (Media Queries)
------------------------------- */
@media all and (max-width: 640px) {
    /* Header Logo */
    div.h-logo {
        padding: 0 8px;
        width: 20px;
        height: 20px;
    }
    a.h-title-link {
        font-size: 20px;
    }
    /* Header Social Media */
    a.social-media-link {
        width: 25%;
    }
}
/* -----------------------------
            NAVIGATION
----------------------------- */

/* -----------------------------
            SECTION
----------------------------- */
.section .headline {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 110%
}
section#css3page-top {
    background: rgb(29,161,242);

}
section#css3page-top h2 {
    padding: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
}
section#css3page-top p {
    text-align: center;
}
section#css3page-top img {
    margin: 0 auto;
    width: 33.33333%;
}
/* CSS3 PAGE TOP (Media Queries)
------------------------------- */
@media screen and (max-width:600px) {
    section#css3page-top h2 {
        font-size: 3rem;
    }
}
.flex-boxes {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
}
.card-6 {
    padding: 0 1%;
    width: 48%;
}

header.icon-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}
.block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block-text h3 {
    font-size: 1.2rem;
    line-height: 1.5;
}
.icon-block i {
    font-size: 10rem;
    color: rgb(29,161,242);
}
p {
    font-size: 1rem;
}
section#css3-advantages {
    background: rgb(243,247,252);
}
/* CSS3 ADVANTAGES (Media Queries)
------------------------------- */
@media screen and (max-width:900px) {
    .card-6 {
        width: 100%;
    }
}


/* -----------------------------
            FOOTER
----------------------------- */
